header {
  background-image: url("./image/Header-llustration-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.links {
  color: #344563;
}

#headerData {
  height: 70vh;
}

#headerTitle2 {
  color: #35b37e;
  padding: 10px 0 0 0;
}

#headerInfo {
  outline: 2px solid red;
  padding: 0 0;
}

.card {
  width: 31%;
}

.about-me {
  background-image: url("./image/illustration about me desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#header-links {
  justify-content: center;
  align-items: baseline;
  /* gap: 10px; */
  list-style-type: none;
}

#header-links li:first-child {
  padding-right: 20px;
}

#about-me {
  background-image: url('./image/illustration about me desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 90% 98%;
  height: 40vh;
}
