header {
  background-image: url("./image/Header-llustration-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.links {
  color: #344563;
}

#headerTitle2 {
  color: #35b37e;
  padding: 20px 0 0 0;
}

.about-me {
  background-image: url("./image/illustration about me desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
